@tailwind base;
@tailwind components;
@tailwind utilities;

/* default style for icons, to be overwrited */
html,
body,
#__next {
  height: 100%;
}

:root {
  --gold: rgb(255, 196, 0);
  --purple: rgb(57, 8, 121);
  --purple50: rgba(57, 8, 121, 0.5);

  --red: rgb(233, 54, 54);
  --green: rgb(14, 206, 14);
}

/* .color {
  &--white {
    color: white;
  }
  &--red {
    color: var(--red);
  }
  &--green {
    color: var(--green);
  }
} */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @apply w-full mb-2 p-1 rounded-sm bg-gray-900;
}

.specialBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 6px;
  cursor: pointer;
  background-image: linear-gradient(to right, #f09819 0%, #edde5d 51%, #f09819 100%);
  backdrop-filter: blur(4px);
  &:hover {
    color: #fff;
    background-position: right center; /* change the direction of the change here */
    box-shadow: 1px 1px 10px rgb(255, 215, 0, 0.27);
  }
  &--purple {
    background-image: linear-gradient(to right, #5c258d 0%, #4389a2 51%, #5c258d 100%);
  }
  &--purple:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    box-shadow: 1px 1px 10px var(--purple50) !important;
  }
}

.spacer{
  aspect-ratio: 1920/1080;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1{
  background-image: url('../images/blurry-gradient-haikei.png');
}
